body {
    background-color: beige;
    color: brown;
}

h1 {
    color: blue;
    font-size: 50px;
}

main p {
    color: #8119e1;
}

.footer-text {
    color: #000;
}

.some {
    color: #8119e1;
}

.section {
    color: #000;
}
